@model GameScore.Models.Score

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Score</h4>
    <hr />
    <dl class="dl-horizontal"> @*dl = description list, dt = description table*@
        <dt>
            @Html.DisplayNameFor(model => model.Name) @*pulls name*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name) @*pulls data*@
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Points) @*pulls data*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Points) @*displays data*@
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Team) @*pulls data*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Team) @*displays data*@
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
